#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
  color: rgb(97, 137, 211);
}

#response-container{
    margin-top: 20px;
    color: rgb(204, 72, 186);
}

#map {
    border: thin solid black;
    height: 500px;
    width: 500px;
  }
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
